.sec3{
    margin-top: 130px auto 0;
    width: 100%;
    
}
.sec3-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 124.17px;
    margin: 100px 290px 0;

}
.sec3-grid-2{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    height: 241.83px;
    width: 241.83px;
    padding-top: 60px;
}
.sec3-text{
    margin-left: 240px;
}

/* for mobile */
@media screen and (max-width : 576px){
    .sec3-text{
        margin-left: 0;
    }
    .sec3-grid{
        margin: 100px auto 0;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
}

/* for tablet */
@media screen and (min-width : 576px) and (max-width : 992px){
    .sec3-text{
        margin-left: 20px;
    }
    .sec3-grid{
        margin: 100px auto 0;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}