.sec4-1{
    width: 33.875rem;
    margin: 130px auto 50px;
    text-align: center;
}
.sec4-2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding:0 240px;
}
.sec4{
    margin-bottom: 130px;
}
.sec4-2 .img{
    filter: grayscale(100%);
}

/* for mobile */
@media screen and (max-width : 576px){
    .sec4-1{
        width: 100%;
    }
    .sec4-2{
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 50px;
        justify-items: center;
    }
}

/* for tablet */
@media screen and (min-width : 576px) and (max-width : 992px){
    .sec4-1{
        margin-left: 20px;
        text-align: left;
    }
    .sec4-2{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        padding: 0 20px;
        justify-items: center;
    }
}